<style>
    body {
        background: #fff;
        font-family: 'Open Sans', sans-serif;
    }
    
    li.item1 {
        line-height: 3.2;
        background-color: #fff;
        color: black;
        padding-left: 12px;
    }

</style>
<style>
    .Heading {
        font-size: 20px;
        margin: 0px 20px 20px;
        padding: 0;
    }

</style>

<style>
    .buttonCheck {
        background-color: #f97e76;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    
    .buttonCheck:hover {
        background-color: #3e8e41
    }
    
    .buttonCheck4 {
        border-radius: 12px;
    }

</style>

<style>
    .buttonProceed {
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #f97e76;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }
    
    .buttonProceed:hover {
        background-color: #3e8e41
    }
    
    .buttonProceed:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

</style>
<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="top-header-left">
                <ul class="support">
                    <li>
                        <a href="#">
                            <label> </label>
                        </a>
                    </li>
                    <li><a href="#">24x7 live<span class="live"> support</span></a></li>
                </ul>
                <ul class="support">
                    <li class="van">
                        <a href="#">
                            <label> </label>
                        </a>
                    </li>
                    <li><a href="#">Free shipping <span class="live">on order over 500</span></a></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <!--<div class="top-header-right">
                <div class="down-top">
                    <select class="in-drop">
                        <option value="English" class="in-of">English</option>
                        <option value="Japanese" class="in-of">Japanese</option>
                        <option value="French" class="in-of">French</option>
                        <option value="German" class="in-of">German</option>
                    </select>
                </div>
                <div class="down-top top-down">
                    <select class="in-drop">
                        <option value="Dollar" class="in-of">Dollar</option>
                        <option value="Yen" class="in-of">Yen</option>
                        <option value="Euro" class="in-of">Euro</option>
                    </select>
                </div>
                <div class="clearfix"> </div>
            </div>-->
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">

            <div class="header-bottom-left">
                <div class="logo">
                    <a href="#/"><img src="./images/alogo.png" alt=" " height="55px" width="173px" /></a>
                </div>
                <div class="search">
                    <input type="text" ng-model="searchItem" value="searchItem">
                    <input type="submit" ng-click="search(searchItem)" value="SEARCH" ng-disabled="!searchItem"> </div>
                <div class="clearfix"> </div>
            </div>
            <div class="header-bottom-right">
                <div class="cartdf" style="margin-left: 330px;"><a href="#/cart"><span> </span>CART ({{(cartQuantityTotal())}}) <span class="tooltip">Empty</span></a></div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<section id="cart_items">
    <div class="container">
        <!-- NEW CART -->
        <div class="table-responsive cart_info">
            <table class="table table-condensed disableScroll">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in productList">
                        <td class="cart_product">
                            <a href="#/products/{{product._id}}"><img ng-src="{{product.img}}" alt="" height="150px" width="180px"></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">{{product.title}}</a></h4>

                        </td>
                        <td class="cart_price">
                            <p>Rs. {{product.original_price}}</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button" ng-init="product.itemquant = 1">
                                <button type="button" class="btn btn-info" ng-disabled="product.itemquant == 1" ng-click="cartItemCount(product, -1)"> - </button>
                                <button type="button" class="btn btn-info" type="text" name="quantity" ng-model="quantity">{{product.itemquant}}</button>
                                <button type="button" class="btn btn-info" ng-disabled="product.Quantity == product.itemquant || product.itemquant >= 4" ng-click="cartItemCount(product, 1)"> + </button>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">Rs. {{itemWiseTotal(product)}}</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href="" ng-click="remove(product)"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>



                </tbody>
            </table>
        </div>
        <!--   <div class="shoes-grid">
        

        
     <div id="contentFree" class="float_r">
     <div ng-show="total">
    <h3 class="Heading">Total: {{ getTotal() }}</h3>
        <button type="button" class="buttonCheck buttonCheck4" ng-click="buyNow(product.original_price)">Checkout</button>
    </div>
     <div ng-hide="total">
    <h1>Cart is empty!!</h1> 
         <button type="button" class="buttonProceed" ng-click="continue()" >Continue Shopping</button>
    </div>
        </div>
</div> -->

        <!-- cart.html end -->


        <!-- <div class="sub-cate">
        	 <div class=" top-nav rsidebar span_1_of_left">
            <h3 class="cate">CATEGORIES</h3>
            <ul class="menu">
                <li class="item1" data-toggle="collapse" data-target="#electronics"> Electronics
                    <span class="glyphicon glyphicon-phone"></span><span class="caret"></span>
                    <ul class="cute collapse" id="electronics">
                        <li class="subitem1"><a href="#/category/electronics/subcategory/mobile">Mobile </a></li>
                        <li class="subitem1"><a href="#/category/electronics/subcategory/laptop">Laptop</a></li>
                        <li class="subitem1"><a href="#/category/electronics/subcategory/accessories">Printer </a></li>
                    </ul>
                </li>
            </ul>
            <ul class="menu">
                <li class="item1" data-toggle="collapse" data-target="#clothing"> Clothing 
               <span class="glyphicon glyphicon-user"></span><span class="caret"></span>             
                    <ul class="cute collapse" id="clothing">
                        <li class="subitem1"><a href="#/category/clothing/subcategory/men">Men</a></li>
                        <li class="subitem1"><a href="#/category/clothing/subcategory/women">Women </a></li>
                        <li class="subitem1"><a href="#/category/clothing/subcategory/kids">Kids </a></li>
                    </ul>
                </li>
            </ul>
            <ul class="menu">
                <li class="item1" data-toggle="collapse" data-target="#books">Books
                    <span class="glyphicon glyphicon-bookmark"></span><span class="caret"></span>
                    <ul class="cute collapse" id="books">
                        <li class="subitem1"><a href="#/category/books/subcategory/fiction">Fiction </a></li>
                        <li class="subitem1"><a href="#/category/books/subcategory/biography">Biography </a></li>
                        <li class="subitem1"><a href="#/category/books/subcategory/horror"> Horror </a></li>
                    </ul>
                </li>
            </ul>
             <ul class="menu">
                <li class="item1" data-toggle="collapse" data-target="#sports">Sports
                     <img  ng-src="./images/sports/icon.png"><span class="caret"></span>
                    <ul class="cute collapse" id="sports">
                        <li class="subitem1"><a href="#/category/sports/subcategory/cricket">Cricket </a></li>
                        <li class="subitem1"><a href="#/category/sports/subcategory/badminton">Badminton </a></li>
                        <li class="subitem1"><a href="#/category/sports/subcategory/fitness">Fitness </a></li>
                    </ul>
                </li>
            </ul>
             <ul class="menu">
                <li class="item1" data-toggle="collapse" data-target="#appliances">Appliances
                    <span class="glyphicon glyphicon-blackboard"></span><span class="caret"></span>
                    <ul class="cute collapse" id="appliances">
                        <li class="subitem1"><a href="#/category/appliances/subcategory/small">Small Home Appliances </a></li>
                        <li class="subitem1"><a href="#/category/appliances/subcategory/large">Large Appliances </a></li>
                    </ul>
                </li>
            </ul>
            <ul class="menu">
                <li class="item1" data-toggle="collapse" data-target="#home">  Home & Furniture
                    <span class="glyphicon glyphicon-lamp"></span><span class="caret"></span>
                    <ul class="cute collapse" id="home">
                        <li class="subitem1"><a href="#/category/home/subcategory/furniture">Furniture </a></li>
                        <li class="subitem1"><a href="#/category/home/subcategory/kitchen">Kitchen </a></li>
                    </ul>
                </li>
            </ul>
          
            
            
        </div> -->
        <!--initiate accordion-->
        <!-- <script type="text/javascript">
            $(function () {
                var menu_ul = $('.menu > li > ul')
                    , menu_a = $('.menu > li > a');
                menu_ul.hide();
                menu_a.click(function (e) {
                    e.preventDefault();
                    if (!$(this).hasClass('active')) {
                        menu_a.removeClass('active');
                        menu_ul.filter(':visible').slideUp('normal');
                        $(this).addClass('active').next().stop(true, true).slideDown('normal');
                    }
                    else {
                        $(this).removeClass('active');
                        $(this).next().stop(true, true).slideUp('normal');
                    }
                });
            });
        </script>
        <div class=" chain-grid menu-chain">
            <script type="text/ng-template" id="/products.html">
                <li ng-repeat="product in products | filter:search ">
                    <center> <img class="img-responsive chain" ng-src="{{product.img}}" height="270px" width="180px" /></center>
                    <div class="grid-chain-bottom chain-watch"> <span class="actual dolor-left-grid">{{product.price}} </span> <span class="reducedfrom">{{product.price}} </span>
                        <h6><a href="single.html">{{product.title}} </a></h6> </div>
                </li>
            </script>
        </div>
    </div> -->

    </div>
</section>

<!-- cart sum total box -->
<section id="do_action">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="total_area" ng-hide="!total">
                    <ul>
                        <li>Cart Sub Total <span>Rs. {{getTotal()}}</span></li>
                        <li>Eco Tax <span>Rs. {{taxEcoTotal()}}</span></li>
                        <li>Shipping Cost <span>Free</span></li>
                        <li>Total <span>Rs. {{getTotalATax()}}</span></li>
                    </ul>

                    <a class="btn btn-default check_out" href="" ng-click="buyNow(product.original_price)">Check Out</a>
                </div>

                <div ng-hide="total">
                    <h1>Cart is empty!!</h1>
                    <button type="button" class="buttonProceed" ng-click="continue()">Continue Shopping</button>

                </div>

            </div>
        </div>
    </div>
</section>
<!--/#do_action-->

<div class="form-group"></div>
<div class="form-group"></div>
<div class="form-group"></div>
<div class="form-group"></div>
<div class="form-group"></div>

<div class="footer">
    <div class="footer-top">
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-cate">
                    <h6>CATEGORIES</h6>
                    <ul>
                        <li><a href="#">Electronics</a></li>
                        <li><a href="#">Clothing</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Home & Furniture</a></li>
                        <li><a href="#">Appliances</a></li>
                    </ul>
                </div>
                <div class="footer-bottom-cate bottom-grid-cat">
                    <h6>FEATURED PRODUCTS</h6>
                    <ul>
                        <li><a href="#">Zara Men Shirt</a></li>
                        <li><a href="#">Apple Iphone 7 plus</a></li>
                        <li><a href="#">Induction Cooker</a></li>
                        <li><a href="#">One Indian Girl</a></li>
                        <li><a href="#">HP Laptop</a></li>
                    </ul>
                </div>
                <div class="footer-bottom-cate">
                    <h6>TOP BRANDS</h6>
                    <ul>
                        <li><a href="#">Zara</a></li>
                        <li><a href="#">HP</a></li>
                        <li><a href="#">Apple</a></li>
                        <li><a href="#">SS-Cricket</a></li>
                        <li><a href="#">SleepWell</a></li>
                    </ul>
                </div>
                <div class="footer-bottom-cate cate-bottom">
                    <h6>OUR ADDERSS</h6>
                    <ul>
                        <li>3rd and 4th Floor</li>
                        <li>North wing, JVP Building</li>
                        <li> Plot No. 5</li>
                        <li> Software Units Layout</li>
                        <li> Madhapur, Hyderabad, Telangana 500081 </li>
                        <li class="phone">PH : 040 3911 1700</li>
                        <li class="temp">
                            <!-- <p class="footer-class">Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>-->
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
